<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLNg-B4l8VLyeE673uqd-jfiDaiCyXsjM</string>
	<key>GCM_SENDER_ID</key>
	<string>977232070432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testImagePicker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-prep-31b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-prep-31b9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977232070432:ios:aa981e29bf9a6c78aff945</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-prep-31b9e-default-rtdb.firebaseio.com</string>
</dict>
</plist>